@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap");

body {
  background: linear-gradient(-45deg, #061841, #1c4694, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* APP */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7em;

    h1 {
      color: aliceblue;
      font-family: "Permanent Marker", cursive;
      width: 50vw;
    }

    p {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      color: rgb(145, 191, 231);
      margin-left: 15em;
    }
  }

  .section2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: "Lato", sans-serif;
    margin-left: 4em;
    margin-top: 8em;
    color: rgb(4, 29, 51);
    width: 30vw;

    h3 {
      color: rgb(145, 191, 231);
      font-size: 1.25;
      font-family: "Work Sans", sans-serif;
    }

    h4 {
      font-size: 1.875;
    }
  }
}

/* DIGITAL CLOCK */

.digital-clock {
  margin-bottom: 1em;
}

/* COUNTDOWN */

.countdownTimer {
  margin-bottom: 1em;
}

/* STOPWATCH */

.stopwatch {
  margin-bottom: 1em;
}

.myBtn {
  background-color: rgba(6, 7, 65, 0.089);
  border: 1px solid rgb(145, 191, 231);
  border-radius: 0.5em;
  color: rgb(145, 191, 231);
  margin-top: 0.5em;
  margin-right: 1em;
  width: 6.5em;
}
