@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap");
body {
  background: linear-gradient(-45deg, #061841, #1c4694, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 30s ease infinite;
          animation: gradient 30s ease infinite;
  height: 100vh;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* APP */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7em;
}

.container .section1 h1 {
  color: aliceblue;
  font-family: "Permanent Marker", cursive;
  width: 50vw;
}

.container .section1 p {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #91bfe7;
  margin-left: 15em;
}

.container .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lato", sans-serif;
  margin-left: 4em;
  margin-top: 8em;
  color: #041d33;
  width: 30vw;
}

.container .section2 h3 {
  color: #91bfe7;
  font-size: 1.25;
  font-family: "Work Sans", sans-serif;
}

.container .section2 h4 {
  font-size: 1.875;
}

/* DIGITAL CLOCK */
.digital-clock {
  margin-bottom: 1em;
}

/* COUNTDOWN */
.countdownTimer {
  margin-bottom: 1em;
}

/* STOPWATCH */
.stopwatch {
  margin-bottom: 1em;
}

.myBtn {
  background-color: rgba(6, 7, 65, 0.089);
  border: 1px solid #91bfe7;
  border-radius: 0.5em;
  color: #91bfe7;
  margin-top: 0.5em;
  margin-right: 1em;
  width: 6.5em;
}
/*# sourceMappingURL=Styles.css.map */